.env
.env.*
!.env.dev.example
!.env.prod.example

.vs

Atlas.Frontend/.env
Atlas.Frontend/.env.*
!Atlas.Frontend/.env.example

certs/

Atlas.Backend/.vs/
Atlas.Backend/**/bin/
Atlas.Backend/**/obj/

Atlas.Frontend/node_modules/
Atlas.Frontend/dist/
Atlas.Frontend/dist-ssr/

secrets/prod/*.txt
!secrets/prod/*.example.txt